<!DOCTYPE html>
<html>
  <head>
    <title>Simple Bit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="static/bootstrap-3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/sticky-footer.css" rel="stylesheet">
  </head>
  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>Simple Bit</h1>
        </div>
        <p class="lead">Worldwide real-time Bitcoin (BTC) market value.</p>
        <p>
          {% block content %}
          {% endblock content %}
        </p>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">
          © 2013 <a href="http://twitter.com/_LR_">@_LR_</a>
          throw your tips at <a href="bitcoin:12FUqBJNHaNgtsvubofTKFEm2MBZAYQg3t">12FUqBJNHaNgtsvubofTKFEm2MBZAYQg3t</a>
        </p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery-2.0.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/bootstrap-3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
