<!DOCTYPE html>
<html>
  <head>
    <title>Simple Bit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="static/bootstrap-3.0.3/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Global Exchange</h1>
    <div>
    {% block content %}
    {% endblock content %}
    </div>
    <p>Donate: 12FUqBJNHaNgtsvubofTKFEm2MBZAYQg3t</p>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery-2.0.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/bootstrap-3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
